<title>Login Form</title>
<link rel="stylesheet" href="resources/css/style.css">
<section class="container">
	<div class="login" ng-controller="LoginController">
		<h1>Login to Web App</h1>
		<form ng-submit="loginSubmit()" name="loginForm">
			<p>
				<input type="text" name="login" value="" id="login"
					placeholder="Username or Email" ng-model="user.login" required>
			<div class="has-error" ng-show="loginForm.$dirty">
				<span ng-show="loginForm.login.$error.required">This is a
					required field</span>
			</div>
			</p>

			<p>
				<input type="password" name="password" value=""
					placeholder="Password" ng-model="user.password" required>
			<div class="has-error" ng-show="loginForm.$dirty">
				<span ng-show="loginForm.password.$error.required">This is a
					required field</span>
			</div>


			<p class="remember_me">
				<label> <input type="checkbox" name="remember_me"
					id="remember_me"> Remember me on this computer
				</label>
			</p>
			<p class="submit">
				<input type="submit" name="commit" value="Login">
			</p>
		</form>
	</div>

	<div class="login-help">
		<p>
			Forgot your password? <a href="index.html">Click here to reset it</a>.
		</p>
		<p>
			Register <a href="#/register">Click here to reset it</a>.
		</p>
	</div>
</section>